header {
    position: relative;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    height: 85vh;
}

.project-container {
    display: flex;
    flex-flow: column nowrap;
    height: 90%;
}

.project-container h2 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 100px;

    user-select: none;

    width: fit-content;
}

.task-manager-container {
    margin-top: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    height: 90%;   
}

.task-manager-container li {
    margin-bottom: 6px;
    line-height: 28px;
    background-color: rgb(99, 141, 201);

    color: whitesmoke;

    display: flex;
    justify-content: space-between;

    border-radius: 5px;

    padding-right: 12px;

    transition: background-color 0.2s ease-in-out;
}

.task-manager-container li.current-context {
    background-color: #3062a8;
}

.task-manager-container .button {
    margin-left: 25px;
}

/* Categories (labels) section style */

#categories-section {
    display: flex;

    flex-flow: column nowrap;

    min-width: 320px;
    height: 90%;

    padding: 20px 22px 22px 22px;
    margin-top: 40px;

    box-shadow: 0 0 10px rgb(143, 143, 146);
    border-radius: 8px;

    background-color: #dae5f4;

    overflow-y: auto;
}

/* Categories header style */

#categories-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

#categories-header h3 {
    user-select: none;
}

#categories-header button {
    border: none;
    background-color: inherit;
    font-size: 20px;
    transition: color 0.2s ease-in-out;
    font-weight: 600;
    cursor: pointer;
}

#categories-header button:hover,
#categories-header button:disabled {
    color: gray;
}

/* Categories container style */

#categories-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

#categories-container ul {
    list-style-type: none;
    width: 100%;
    overflow-y: auto;
}

#categories-container li:hover {
    background-color: #3062a8;
}

#categories-container input {
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    width: 70%;
    height: 100%;
    padding-left: 12px;

    background-color: inherit;

    font-size: 14px;
    font-weight: 500;
    border: none;

    border-radius: 5px;

    color: whitesmoke;
}

#categories-container input::placeholder {
    color: whitesmoke;
}

#categories-container button {
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    border: none;
    background-color: inherit;
    font-size: 12px;
    
    display: flex;
    align-items: center;    
}

/* Main category style */

#main-category {
    border-radius: 5px;
}

#main-category p {
    height: 100%;
    padding-left: 12px;
    font-size: 14px;
    font-weight: 500;
    border: none;

    line-height: 28px;
    color: whitesmoke;
}

/* Category element style */

.category {
    display: flex;
    align-items: center;
    height: 34px;
    margin-bottom: 5px;
}

.category .buttons-container {
    width: 16%;
    margin-right: 10px;
}

.enter-button {
    cursor: pointer;
    color: whitesmoke;
}

/* Main section with tasks container and input field for tasks */

#main-section {
    display: flex;

    flex-flow: column nowrap;

    align-items: center;

    height: 100%;
}

/* Main header style */

#main-header {
    display: flex;

    align-self: flex-start;

    margin-bottom: 20px;
}

/* Category name style */

#category-name {
    margin-left: 10px;
    width: 300px;
    font-size: 28px;
}

/* Search bar style */

#search-bar {
    width: 100%;
}

#search-bar input {
    font-family: inherit;

    width: 240px;
    height: 28px;

    padding-left: 6px;
    /* margin-left: 100px; */
    border: 1px solid #818181;
    border-radius: 4px;
}

#search-bar input:focus {
    outline: none;
}

#search-bar button {
    border: none;
}

#search-bar .fa-arrow-up-short-wide {
    margin-left: 10px;
}

/* Tasks container style */

.tasks-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    width: 50vw;
    height: 80%;

    padding: 20px 22px 32px 22px;

    box-shadow: 0 0 10px rgb(143, 143, 146);
    border-radius: 8px;

    background-color: #dae5f4;

    overflow-y: auto;
}

.tasks-container i {
    cursor: pointer;
}

.tasks-container::-webkit-scrollbar,
#categories-container ul::-webkit-scrollbar  {
    width: 8px;
}

.tasks-container::-webkit-scrollbar-track,
#categories-container ul::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

.tasks-container::-webkit-scrollbar-thumb,
#categories-container ul::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #3062a8;
}

/* Task element style */

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 98%;
    background-color: #3062a8;
    min-height: 50px;

    padding: 0 22px 0 22px;

    border-radius: 18px;

    color: whitesmoke;

    margin-top: 14px;
}

.task input {
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: whitesmoke;

    width: 50%;

    border: none;
    border-radius: 3px;

    background-color: #3062a8;

    transition: background-color 0.1s ease-in-out;
}

.buttons-container {
    display: flex;
    align-items: center;

    justify-content: space-between;
}

/* Input container style */

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50vw;

    margin-top: 18px;
}

.input-container input {
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;

    height: 34px;
    width: 96%;

    border: 0px;
    border-radius: 8px;

    padding: 0 14px 0 14px;

    box-shadow: 0 0 5px rgb(143, 143, 146);

    background-color: #dae5f4;
}

.input-container input:focus {
    border: 2px solid darkgray;
    outline: none;
}

.input-container button {
    width: 28px;
    height: 28px;

    font-size: 22px;

    border: 0;
    border-radius: 8px;

    box-shadow: 0 0 5px rgb(143, 143, 146);

    background-color: #3062a8;
    color: whitesmoke;

    transition: background-color .2s ease-in-out;
}

.input-container button:hover {

    background-color: #22487c;
    color: whitesmoke
}

/* Task due date style */

.due-date {
    font-size: 12px;
}

/* Edit button style */

.fa-pen-to-square {
    color: whitesmoke;
    transition: color 0.2s ease-in-out;
}

.fa-pen-to-square:hover {
    color: #d49c22;
}

.fa-pen-to-square.edit-mode {
    color: #d49c22;

    background-color: transparent;
}

/* Calendar button style */

.fa-calendar {
    transition: color 0.2s ease-in-out;
}

.fa-calendar:hover {
    color: rgb(128, 173, 160);
}

/* Trash button style */

.fa-trash {
    color: whitesmoke;
    transition: color 0.2s ease-in-out;
}

.fa-trash:hover {
    color: rgb(187, 58, 58);
}

/* Start (priority) button style */

.fa-star {
    transition: color 0.2s ease-in-out;
}

.fa-star:hover,
.priority #star-button {
    color: #ffd250;
}

.fa-star.fa-solid {
    color: #ffd250;
}

/* Calendar container (within each task) style */

.calendar-container {
    position: absolute;
    top: 200px;
    width: 30%;

    display: none;

    z-index: 100;
}

/* Styling for due date color */

.overdue {
    border: 2.5px solid red; 
}

.due-today {
    border: 2.5px solid rgb(245, 159, 0); 
}

/* Blurring style */

.blur {
    filter: blur(5px);
}

/* No focus */

.no-focus:focus {
    border: none;
    outline: none;
}

/* Edit mode */

input.edit-mode  {
    background-color: #a5bcdd;
    color: #19365f;
    border-radius: 3px;
    font-weight: 500;

    transition: background-color 0.1s ease-in-out;
}

/* Calendar open/close state */

.calendar-open {
    display: none;
}

.calendar-close {
    display: flex;
}

/* Dragging styling */

.dragging {
    opacity: 0.5;
}

.drag-start {
    background-color: rgb(99, 141, 201);
}

.drag-enter {
    background-color: #19365f;
}