/* @media (min-width: 1200px) {
    Your desktop-specific styles here
} */

/* @media (min-width: 992px) and (max-width: 1199px) {
    Your laptop-specific styles here
} */

/* @media (min-width: 768px) and (max-width: 991px) {
    Your tablet-specific styles here
} */
  
/* @media (max-width: 767px) {
    Your mobile-specific styles here
} */

main {
    padding: 125px 100px 50px 100px;
}

main ul { 
    list-style-type: none;
}

#work-experience-container h1 {
    /* background-color: purple; */
    margin-bottom: 18px;
    white-space: nowrap;
}

main h2 {
    white-space: nowrap;
}

#work-experience-container {
    margin-bottom: 60px;
}

#work-experience-container h3 {
    color: rgb(83, 83, 83);
    margin-bottom: 3px;
    white-space: nowrap;
}

#work-experience-container li {
    padding-bottom: 14px;
}

#work-experience-container p {
    margin-left: 60px;
    margin-right: 20px;
}

#courses-container h1 {
    padding-bottom: 4px;
}

#courses-container h2 {
    margin-top: 14px;
    margin-bottom: 3px;
}

#courses-container p {
    margin-left: 60px;
    margin-right: 20px;
}